<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
    <% end %>
</script>

<script>
  window.phones = "<%= asset_path('phones.png') %>"
</script>

<script>
  window.logo = "<%= asset_path('logo.jpg') %>"
</script>

<div id="root"></div>
