.img_modal {
  background-color: white;
  height: 600px;
  width: 940px;
  display: flex;
  align-items: flex-start;
}

.picture {
  display: flex;
  height: 600px;
  width: 600px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.picture img {
  max-height: 600px;
  max-width: 600px;
}

.side_bar {
  width: 340px;
  height: 600px;

}


.dropdown {
  display: none;
  visibility: hidden;
  transition: visibility 0.5s;
}

.elipsis {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.elipsis:hover .dropdown{
  visibility: visible;
  display: block;
}

.modal-pro-pic {
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;

  border-radius: 50%;
}

.modal-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side_bar_top {
  margin: 20px 24px;
  width: 287px;
  display: flex;
  justify-content: space-between;
}

.username {
  margin-left: 10px;
  font-weight: 500;
  font-size: 120%;
}

.comments {
  height: 360px;
  width: 287px;
  background-color: white;
  border: 1px solid red;
  margin-left: 24px;
}

.likes {
  width: 287px;
  height: 60px;
  margin: 5px 24px;
  background-color: white;
  border: 1px solid red;
}

.add-comment {
  width: 261px;
  height: 23px;
  margin: 16px 24px;
  background-color: lightgreen;
}

.add-comment input {
  border: none;
  font-size: 13px;
}

.add-comment input:focus {
  border: none;
}
