.index {
  position: relative;
  top: 75px;
  display: flex;
  justify-content: center;
}

.index ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index ul img {
  max-width: 615px;
  max-height: 615px;
}

.idx_img {
  margin: 30px;
  border: 2px solid cyan;
}

.idx_img_top {
  border: 1px solid red;
  width: 615px;
  height: 60px;
}

.idx_img_mid {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 615px;
  height: 615px;
}

.idx_img_bottom {
  border: 1px solid red;
  width: 615px;
  height: 100px;
}
