.hidden {
  display: none;
}

.index {
  position: relative;
  top: 75px;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  height: 120vh;
}

.index ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liking {
  user-select: none;
}

.idx_img {
  margin: 30px;
  border: 1px solid #e6e6e6;
  background-color: white;
}

.idx_img_top {
  width: 615px;
  height: 60px;
  display: flex;
  align-items: center;
}

.idx_img_top img {
  border-radius: 50%;
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
  margin: 0 15px 0 15px;
}

.author_info {
  display: flex;
  align-items: center;
}

.author_info span {
  color: black;
}

.author_info span:active {
  color: gray;
}

.idx_img_mid {
  display: flex;
  justify-content: center;
  width: 615px;
  height: 615px;
}
.idx_img_mid img {
  max-width: 615px;
  max-height: 615px;
}

.idx_img_bottom {
  width: 615px;
  max-height: 250px;
  padding: 8px;
}

.liking {
  height: 60px;
  width: 100px;
  margin: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
}

.idx_img_bottom .comments_display {
  margin-left: 10px;
  padding: 0 0 5px 0;
  max-height: 150px;
  overflow-y: auto;
}

.idx_img_bottom .comments_display a {
  color: black;
}

.ind_comment {
  margin-bottom: 8px;
}

.comment_author {
  font-weight: bold;
  margin-right: 5px;
}

.comment_form {
  padding-top: 5px;
  display: flex;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  margin-top: 5px;
}

.comment_form input {
  border: none;
  outline: none;
  background-color: white;
  font-size: 15px;
}

.comment_form input:focus {
  border: none;
  outline: none;
}


.index .date_display {
  margin-left: 10px;
  font-size: 10px;
  color: #999;
}
