.index {
  position: relative;
  top: 75px;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  height: 120vh;
}

.index ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idx_img {
  margin: 30px;
  border: 1px solid #e6e6e6;
  background-color: white;
}

.idx_img_top {
  // border: 1px solid red;
  width: 615px;
  height: 60px;
  display: flex;
  align-items: center;
}

.idx_img_top img {
  border-radius: 50%;
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
  margin: 0 15px 0 15px;
}

.author_info {
  display: flex;
  align-items: center;
}

.author_info span {
  color: black;
}

.author_info span:active {
  color: gray;
}

.idx_img_mid {
  display: flex;
  justify-content: center;
  // border: 1px solid red;
  width: 615px;
  height: 615px;
}
.idx_img_mid img {
  max-width: 615px;
  max-height: 615px;
}

.idx_img_bottom {
  border: 1px solid red;
  width: 615px;
  height: 200px;
}

.liking {
  height: 60px;
  border: 1px solid red;
}

.comments_display {
  height: 100px;
  border-bottom: 1px solid cyan;
}

.comment_form textarea {
  overflow-y: auto;
  resize: none;
  outline: none;
  width: 550px;
  height: 18px;
  font-size: 15px;
}
