.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav button:focus{
  outline: none;
}

.nav button {
  cursor: pointer;
  user-select: none;
  width: 130px;
  height: 30px;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  outline: none;
  border: 1px solid #dbdbdb;
  color: #3d3d3d;
  font-weight: 400;
}

.nav button:active {
  color: #6f6f6f;
  outline: none;
}

.home_link {
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
  width: 130%;
}

.logo {
  width: 40px;
  height: 40px;
  border-right: 1px solid #939393;
  padding-right: 15px;
}

.nav_left img {
  width: 100%;
}

.nav_left span {
  font-family: pacifico;
  color: black;
  font-size: 180%;
  padding-left: 15px;
}

.nav_right {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.nav_right button {
  width: 90px;
}

.nav_right a {
  color: #3d3d3d;
}

.nav_right a:active {
  color: #6f6f6f;
}
