// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session {
  transition: 0.3s;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #fafafa;
  vertical-align: baseline;
}

.phones {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

.background {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}

.slideshow {
  position: absolute;
  border: 1px solid red;
}

button {
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  width: 268px;
  padding: 0px 8px;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 3px;
  margin-top: 5px;
}

button:active {
  background-color: #73b6f4;
  border: 1px solid #73b6f4;
}

.or {
  text-align: center;
  color: #999;
  margin: 20px;
  font-size: 15px;
}

.or::before,
.or::after {
  background-color: #999;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 115px
}

.or:before {
 right: 0.5em;
 margin-left: -50%;
}

.or:after {
 left: 0.5em;
 margin-right: -50%;
}

.errors {
  margin: 10px;
  text-align: center;
  color: red;
  font-weight: 100;
  font-size: 15px;
}

.errors li {
  margin: 10px 0 0;
}

.session_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0 15px;
  width: 348px;
}

.form h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 300;
  font-size: 250%;
  cursor: default;
  margin: 23px;
  user-select: none;
}

.toggle {
  display: flex;
  height: 50px;
}

.enticement, .terms {
  color: #999;
  text-align: center;
  width: 60%;
  margin: 5px 0 15px;
  font-size: 90%;
}

a {
  color: #3897f0;
  text-decoration: none;
}

a:active {
  color: #73b6f4
}


input {
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 268px;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  background-color: #fafafa;
  padding: 9px 0 7px 8px;
}

input:focus {
  outline: none;
  border: 1px solid #c6c6c6;
}
