.upload_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #fafafa;
  width: 500px;
  height: 550px;
  border-radius: 10px;
}

.upload_form button {
  width: 25%;
}

.buttons {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.preview {
  box-sizing: content-box;
  background-color: white;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #939393;
  margin: 25px;
  overflow: hidden;
}

.preview_image {
  margin-top: 2px;
}

.preview_image img {
  max-height: 400px;
  max-width: 400px;
  width: auto;
}

input[type="file"] {
    display: none;
}

.choose_file {
  margin-top: 20px;
}

.custom_file_upload {
  background-color: white;
  color: #3d3d3d;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #939393;
  border-radius: 3px;
}

.custom_file_upload:active {
  color: #6f6f6f;
}

.cancel_button {
  width: 90px;
  height: 30px;
  outline: none;
  border: 1px solid #939393;
  border-radius: 6px;
  cursor: pointer;
}

.cancel_button:active {
  color: #6f6f6f;
}

.inactive_button {
  width: 90px;
  height: 30px;
  outline: none;
  border: 1px solid #939393;
  border-radius: 6px;
  cursor: default;
}

.inactive_button:active {
  color: black;
}

.submit_button {
  cursor: pointer;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #3897f0;
  border-radius: 6px;
}

.submit_button:active {
  background-color: #73b6f4;
  color: white;
  outline: none;
}

.submit_button:focus {
  outline: none;
}
