.upload_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: skyblue;
  width: 500px;
  height: 400px;
}

.upload_form button {
  width: 25%;
}

.buttons {

}
